Importing Libraries

In [ ]:

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import math
from math import acos, degrees
from scipy import spatial
from scipy.stats import chisquare
from scipy.stats import chi2_contingency
from sklearn.metrics.pairwise import cosine_similarity
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn.metrics import plot_confusion_matrix

from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder, OneHotEncoder


#Reading in the data as adult dataframe
autism = pd.read_csv("https://raw.githubusercontent.com/rupreti77/upreti_IT533/main/csv_result-Autism-Adult-Data.csv")

#Verifying that we can see the data
autism.head()

   id  A1_Score  A2_Score  A3_Score  ...  result     age_desc  relation  Class/ASD
0   1         1         1         1  ...       6  18 and more      Self         NO
1   2         1         1         0  ...       5  18 and more      Self         NO
2   3         1         1         0  ...       8  18 and more    Parent        YES
3   4         1         1         0  ...       6  18 and more      Self         NO
4   5         1         0         0  ...       2  18 and more         ?         NO

[5 rows x 22 columns]

In [ ]:
autism4=autism 
autism4.ethnicity.replace('?','unknown', inplace=True)
autism4.relation.replace('?','unknown', inplace=True)
autism4

      id  A1_Score  A2_Score  A3_Score  ...  result     age_desc  relation  Class/ASD
0      1         1         1         1  ...       6  18 and more      Self         NO
1      2         1         1         0  ...       5  18 and more      Self         NO
2      3         1         1         0  ...       8  18 and more    Parent        YES
3      4         1         1         0  ...       6  18 and more      Self         NO
4      5         1         0         0  ...       2  18 and more   unknown         NO
..   ...       ...       ...       ...  ...     ...          ...       ...        ...
699  700         0         1         0  ...       7  18 and more      Self        YES
700  701         1         0         0  ...       3  18 and more    Parent         NO
701  702         1         0         1  ...       7  18 and more   unknown        YES
702  703         1         0         0  ...       6  18 and more      Self         NO
703  704         1         0         1  ...       8  18 and more      Self        YES

[704 rows x 22 columns]

In [ ]:
autism5=autism4
nan_value = float("NaN")
autism5.replace("?", nan_value, inplace=True)
autism5.dropna(inplace=True)
autism5["age"] = pd.to_numeric(autism5["age"], downcast="float")
autism5.age.describe()
autism5

      id  A1_Score  A2_Score  A3_Score  ...  result     age_desc  relation  Class/ASD
0      1         1         1         1  ...       6  18 and more      Self         NO
1      2         1         1         0  ...       5  18 and more      Self         NO
2      3         1         1         0  ...       8  18 and more    Parent        YES
3      4         1         1         0  ...       6  18 and more      Self         NO
4      5         1         0         0  ...       2  18 and more   unknown         NO
..   ...       ...       ...       ...  ...     ...          ...       ...        ...
699  700         0         1         0  ...       7  18 and more      Self        YES
700  701         1         0         0  ...       3  18 and more    Parent         NO
701  702         1         0         1  ...       7  18 and more   unknown        YES
702  703         1         0         0  ...       6  18 and more      Self         NO
703  704         1         0         1  ...       8  18 and more      Self        YES

[702 rows x 22 columns]

In [ ]:
#Let's drop the value of the age which is equal to 383 at the line 52
autism5.loc[autism5['age']==383]

    id  A1_Score  A2_Score  A3_Score  ...  result     age_desc  relation  Class/ASD
52  53         1         0         0  ...       1  18 and more      Self         NO

[1 rows x 22 columns]

In [ ]:
autism5=autism5.drop(52)

In [ ]:
autism5.age.describe()

count    701.000000
mean      29.194008
std        9.711530
min       17.000000
25%       21.000000
50%       27.000000
75%       35.000000
max       64.000000
Name: age, dtype: float64

#Selection of the dependent variable in the dataset

In [ ]:
autism5.contry_of_res.replace(['United States','Canada', 'Mexico'],'North_America', inplace=True)
autism5.contry_of_res.replace(['Argentina','Brazil','Bahamas', 'Chile','Costa Rica','Nicaragua','Uruguay','Ecuador','Bolivia','Aruba'],'South_America', inplace=True)
autism5.contry_of_res.replace(['Egypt','Burundi', 'United Kingdom','South Africa','Sierra Leone', 'Ethiopia','Niger','Angola'],'Africa', inplace=True)
autism5.contry_of_res.replace(['Afghanistan','Jordan','Bangladesh','China','India','Lebanon','Philippines','Hong Kong', 'Japan', 'Sri Lanka','Iraq','Viet Nam', 'Malaysia', 'Nepal', 'Indonesia','Turkey','Iran','Saudi Arabia','Azerbaijan','Pakistan','Kazakhstan','Oman','United Arab Emirates'],'Asia', inplace=True)
autism5.contry_of_res.replace([ 'Austria','Spain', 'Ireland', 'United Kingdom','Italy','France','Netherlands', 'Romania', 
                            'Sweden','Germany','Russia','Armenia','Iceland','Ukraine','Serbia', 'Portugal','Belgium',
                            'Finland', 'Czech Republic', 'Cyprus'],'Europe', inplace=True)
autism5.contry_of_res.replace(['New Zealand','Australia', 'Tonga', 'AmericanSamoa',],'Oceania', inplace=True)
autism5.contry_of_res.unique()

array(['North_America', 'South_America', 'Europe', 'Africa', 'Oceania',
       'Asia'], dtype=object)

In [ ]:
autism5.columns = autism5.columns.str.replace('/', '')
autism5
autism5.jundice.replace(('yes', 'no'), (1, 0), inplace=True)
autism5.austim.replace(('yes', 'no'), (1, 0), inplace=True)
autism5.gender.replace (('m', 'f'), (1, 0), inplace=True)
autism5.ClassASD.replace(('YES', 'NO'), (1, 0), inplace=True)
autism6= autism5[['A1_Score','A2_Score','A3_Score','A4_Score','A5_Score','A6_Score','A7_Score','A8_Score','A9_Score','A10_Score','age','jundice','austim','gender' ,'result','contry_of_res']]
autism6

     A1_Score  A2_Score  A3_Score  ...  gender  result  contry_of_res
0           1         1         1  ...       0       6  North_America
1           1         1         0  ...       1       5  South_America
2           1         1         0  ...       1       8         Europe
3           1         1         0  ...       0       6  North_America
4           1         0         0  ...       0       2         Africa
..        ...       ...       ...  ...     ...     ...            ...
699         0         1         0  ...       0       7         Europe
700         1         0         0  ...       1       3  North_America
701         1         0         1  ...       0       7         Europe
702         1         0         0  ...       1       6           Asia
703         1         0         1  ...       0       8         Europe

[701 rows x 16 columns]

In [ ]:
! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip # Installing the package first

Collecting https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
  Using cached https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
Requirement already satisfied: joblib~=1.1.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (1.1.0)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (1.7.3)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (1.3.5)
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (3.2.2)
Requirement already satisfied: pydantic>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (1.9.0)
Requirement already satisfied: PyYAML>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (6.0)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (2.11.3)
Requirement already satisfied: markupsafe~=2.0.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (2.0.1)
Requirement already satisfied: visions[type_image_path]==0.7.4 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (0.7.4)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (1.21.5)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (0.1.12)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (0.5.0)
Requirement already satisfied: phik>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (0.12.0)
Requirement already satisfied: tangled-up-in-unicode==0.2.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (0.2.0)
Requirement already satisfied: requests>=2.24.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (2.27.1)
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (4.62.3)
Requirement already satisfied: seaborn>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (0.11.2)
Requirement already satisfied: multimethod>=1.4 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling==3.1.1) (1.7)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.1) (2.6.3)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.1) (21.4.0)
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.1) (7.1.2)
Requirement already satisfied: imagehash in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.1) (4.2.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.1) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.1) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.1) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.1) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==3.1.1) (2018.9)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pydantic>=1.8.1->pandas-profiling==3.1.1) (3.10.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.2.0->pandas-profiling==3.1.1) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.1) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.1) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.1) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling==3.1.1) (2.10)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling==3.1.1) (1.2.0)

In [ ]:
autism6.describe(include = "all")

          A1_Score    A2_Score  ...      result  contry_of_res
count   701.000000  701.000000  ...  701.000000            701
unique         NaN         NaN  ...         NaN              6
top            NaN         NaN  ...         NaN           Asia
freq           NaN         NaN  ...         NaN            279
mean      0.723252    0.453638  ...    4.888730            NaN
std       0.447710    0.498201  ...    2.495516            NaN
min       0.000000    0.000000  ...    0.000000            NaN
25%       0.000000    0.000000  ...    3.000000            NaN
50%       1.000000    0.000000  ...    4.000000            NaN
75%       1.000000    1.000000  ...    7.000000            NaN
max       1.000000    1.000000  ...   10.000000            NaN

[11 rows x 16 columns]

In [ ]:
autism7.hist()

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x7f0bc064f8d0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7f0bc0663ad0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x7f0bc0625110>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7f0bc05da710>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x7f0bc059a0d0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x7f0bc05535d0>]],
      dtype=object)

In [ ]:
autism7 = autism6[['age', 	'jundice' ,	'austim' ,	'gender' ,	'result' ,	'contry_of_res']]
autism7.head()

    age  jundice  austim  gender  result  contry_of_res
0  26.0        0       0       0       6  North_America
1  24.0        0       1       1       5  South_America
2  27.0        1       1       1       8         Europe
3  35.0        0       1       0       6  North_America
4  40.0        0       0       0       2         Africa

In [ ]:
from sklearn.model_selection import train_test_split
x=autism7.iloc[:,:5] 
y=autism7['contry_of_res']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.20) 
print("X_train shape: {}".format(X_train.shape))
print("X_test shape: {}".format(X_test.shape))

X_train shape: (560, 5)
X_test shape: (141, 5)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
sev = RandomForestClassifier()
sev.get_params

In [ ]:
sev.fit(X_train, y_train)

RandomForestClassifier()

In [ ]:
y_pred = sev.predict(X_test)
print(y_pred)

['North_America' 'Asia' 'Asia' 'Asia' 'Oceania' 'Asia' 'South_America'
 'North_America' 'North_America' 'South_America' 'Europe' 'North_America'
 'North_America' 'Europe' 'South_America' 'North_America' 'Asia' 'Africa'
 'North_America' 'Asia' 'Asia' 'North_America' 'North_America'
 'North_America' 'Africa' 'Europe' 'Asia' 'Asia' 'North_America' 'Europe'
 'Asia' 'Europe' 'Africa' 'South_America' 'Asia' 'Oceania' 'Africa'
 'Africa' 'Asia' 'Oceania' 'Asia' 'Asia' 'Asia' 'Africa' 'North_America'
 'Asia' 'North_America' 'North_America' 'North_America' 'North_America'
 'Asia' 'Asia' 'Europe' 'Asia' 'Europe' 'North_America' 'Africa' 'Europe'
 'Africa' 'North_America' 'Asia' 'North_America' 'Asia' 'Oceania'
 'Oceania' 'Asia' 'Asia' 'Europe' 'Asia' 'Asia' 'Asia' 'Asia' 'Europe'
 'Oceania' 'North_America' 'Europe' 'Asia' 'Africa' 'Asia' 'North_America'
 'Africa' 'Asia' 'Asia' 'Asia' 'North_America' 'Asia' 'North_America'
 'Asia' 'North_America' 'Asia' 'Asia' 'North_America' 'Oceania' 'Europe'
 'Asia' 'Oceania' 'Europe' 'Asia' 'Asia' 'Oceania' 'North_America'
 'Africa' 'Europe' 'Oceania' 'Asia' 'North_America' 'North_America' 'Asia'
 'Europe' 'Asia' 'Europe' 'North_America' 'Asia' 'Asia' 'Asia' 'Oceania'
 'Asia' 'Asia' 'Asia' 'Asia' 'Asia' 'Asia' 'Oceania' 'Oceania' 'Asia'
 'Asia' 'Africa' 'South_America' 'North_America' 'Asia' 'North_America'
 'Asia' 'Africa' 'Asia' 'Asia' 'Oceania' 'North_America' 'Oceania' 'Asia'
 'Africa' 'North_America']

In [ ]:
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings("ignore")
np.random.seed(42)
accuracy_score(y_test, y_pred)

0.3475177304964539

In [ ]:

plot_confusion_matrix(sev, X_test, y_test)